@import url('./assets/style/reset.scss');
@import url('//at.alicdn.com/t/font_3405480_dv7p7trrg9i.css');
body{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F4F5F5;
}
//单行溢出隐藏
.single-hide {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.el-notification  {
  width: 200px !important;
}